.divmain { 
    width: 800px;
    height: 800px;
    background-color: blue;
    display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.caixa { 
    width: 200px;
    height: 200px;
    background-color: rgb(230, 247, 4);
     
}